In [3]:
from pyspark import SparkContext
from pyspark.mllib.regression import LabeledPoint
from pyspark.mllib.tree import RandomForest

sc = SparkContext(appName="TitanicPredictor")

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=TitanicPredictor, master=local[*]) created by __init__ at <ipython-input-1-a8651f1b581d>:5

In [4]:

train = 'file:/root/notebooks/Titanic/train.csv'
train_data = sc.textFile(train)

test = 'file:/root/notebooks/Titanic/test.csv'
test_data = sc.textFile(test)


print "Train data size is {}".format(train_data.count())
print "Test data size is {}".format(test_data.count())

Train data size is 892
Test data size is 419

In [5]:
#skip header
header = train_data.first() #extract header
train_data = train_data.filter(lambda x:x !=header) #filter out header

test_header = test_data.first()
test_data = test_data.filter(lambda x:x !=test_header) #filter out header

print header
print test_header

PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked

In [21]:
# Import SQLContext and data types
from pyspark.sql import SQLContext, Row
from pyspark.sql.types import *

# sc is an existing SparkContext.
sqlContext = SQLContext(sc)

#Split the csv file by comma and convert each line to a tuple.
parts = train_data.map(lambda l: l.split(",", -1))
people = parts.map(lambda p: Row(PassengerId=(p[0]), Survived=(p[1]), 
                                 Pclass=p[2], Name=p[3]+','+p[4], Sex=p[5], Age=((p[6])), 
                                 SibSp=(p[7]), Parch=(p[8]), Ticket=p[9], 
                                 Fare=p[10], Cabin=p[11], Embarked=p[12]))

# Apply the schema to the RDD.
schemaPeople = sqlContext.createDataFrame(people)

# Register the DataFrame as a table.
schemaPeople.registerTempTable("titanic")
schemaPeople.printSchema()

root
 |-- Age: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- PassengerId: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Ticket: string (nullable = true)

In [20]:
results = sqlContext.sql("SELECT Name, Age FROM titanic")
for name in results.collect():
  print(name)

Row(Name=u'"Braund, Mr. Owen Harris"', Age=u'22')
Row(Name=u'"Cumings, Mrs. John Bradley (Florence Briggs Thayer)"', Age=u'38')
Row(Name=u'"Heikkinen, Miss. Laina"', Age=u'26')
Row(Name=u'"Futrelle, Mrs. Jacques Heath (Lily May Peel)"', Age=u'35')
Row(Name=u'"Allen, Mr. William Henry"', Age=u'35')
Row(Name=u'"Moran, Mr. James"', Age=u'')
Row(Name=u'"McCarthy, Mr. Timothy J"', Age=u'54')
Row(Name=u'"Palsson, Master. Gosta Leonard"', Age=u'2')
Row(Name=u'"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)"', Age=u'27')
Row(Name=u'"Nasser, Mrs. Nicholas (Adele Achem)"', Age=u'14')
Row(Name=u'"Sandstrom, Miss. Marguerite Rut"', Age=u'4')
Row(Name=u'"Bonnell, Miss. Elizabeth"', Age=u'58')
Row(Name=u'"Saundercock, Mr. William Henry"', Age=u'20')
Row(Name=u'"Andersson, Mr. Anders Johan"', Age=u'39')
Row(Name=u'"Vestrom, Miss. Hulda Amanda Adolfina"', Age=u'14')
Row(Name=u'"Hewlett, Mrs. (Mary D Kingcome) "', Age=u'55')
Row(Name=u'"Rice, Master. Eugene"', Age=u'2')
Row(Name=u'"Williams, Mr. Charles Eugene"', Age=u'')
Row(Name=u'"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)"', Age=u'31')
Row(Name=u'"Masselmani, Mrs. Fatima"', Age=u'')
Row(Name=u'"Fynney, Mr. Joseph J"', Age=u'35')
Row(Name=u'"Beesley, Mr. Lawrence"', Age=u'34')
Row(Name=u'"McGowan, Miss. Anna ""Annie"""', Age=u'15')
Row(Name=u'"Sloper, Mr. William Thompson"', Age=u'28')
Row(Name=u'"Palsson, Miss. Torborg Danira"', Age=u'8')
Row(Name=u'"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)"', Age=u'38')
Row(Name=u'"Emir, Mr. Farred Chehab"', Age=u'')
Row(Name=u'"Fortune, Mr. Charles Alexander"', Age=u'19')
Row(Name=u'"O\'Dwyer, Miss. Ellen ""Nellie"""', Age=u'')
Row(Name=u'"Todoroff, Mr. Lalio"', Age=u'')
Row(Name=u'"Uruchurtu, Don. Manuel E"', Age=u'40')
Row(Name=u'"Spencer, Mrs. William Augustus (Marie Eugenie)"', Age=u'')
Row(Name=u'"Glynn, Miss. Mary Agatha"', Age=u'')
Row(Name=u'"Wheadon, Mr. Edward H"', Age=u'66')
Row(Name=u'"Meyer, Mr. Edgar Joseph"', Age=u'28')
Row(Name=u'"Holverson, Mr. Alexander Oskar"', Age=u'42')
Row(Name=u'"Mamee, Mr. Hanna"', Age=u'')
Row(Name=u'"Cann, Mr. Ernest Charles"', Age=u'21')
Row(Name=u'"Vander Planke, Miss. Augusta Maria"', Age=u'18')
Row(Name=u'"Nicola-Yarred, Miss. Jamila"', Age=u'14')
Row(Name=u'"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)"', Age=u'40')
Row(Name=u'"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)"', Age=u'27')
Row(Name=u'"Kraeff, Mr. Theodor"', Age=u'')
Row(Name=u'"Laroche, Miss. Simonne Marie Anne Andree"', Age=u'3')
Row(Name=u'"Devaney, Miss. Margaret Delia"', Age=u'19')
Row(Name=u'"Rogers, Mr. William John"', Age=u'')
Row(Name=u'"Lennon, Mr. Denis"', Age=u'')
Row(Name=u'"O\'Driscoll, Miss. Bridget"', Age=u'')
Row(Name=u'"Samaan, Mr. Youssef"', Age=u'')
Row(Name=u'"Arnold-Franchi, Mrs. Josef (Josefine Franchi)"', Age=u'18')
Row(Name=u'"Panula, Master. Juha Niilo"', Age=u'7')
Row(Name=u'"Nosworthy, Mr. Richard Cater"', Age=u'21')
Row(Name=u'"Harper, Mrs. Henry Sleeper (Myna Haxtun)"', Age=u'49')
Row(Name=u'"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)"', Age=u'29')
Row(Name=u'"Ostby, Mr. Engelhart Cornelius"', Age=u'65')
Row(Name=u'"Woolner, Mr. Hugh"', Age=u'')
Row(Name=u'"Rugg, Miss. Emily"', Age=u'21')
Row(Name=u'"Novel, Mr. Mansouer"', Age=u'28.5')
Row(Name=u'"West, Miss. Constance Mirium"', Age=u'5')
Row(Name=u'"Goodwin, Master. William Frederick"', Age=u'11')
Row(Name=u'"Sirayanian, Mr. Orsen"', Age=u'22')
Row(Name=u'"Icard, Miss. Amelie"', Age=u'38')
Row(Name=u'"Harris, Mr. Henry Birkhardt"', Age=u'45')
Row(Name=u'"Skoog, Master. Harald"', Age=u'4')
Row(Name=u'"Stewart, Mr. Albert A"', Age=u'')
Row(Name=u'"Moubarek, Master. Gerios"', Age=u'')
Row(Name=u'"Nye, Mrs. (Elizabeth Ramell)"', Age=u'29')
Row(Name=u'"Crease, Mr. Ernest James"', Age=u'19')
Row(Name=u'"Andersson, Miss. Erna Alexandra"', Age=u'17')
Row(Name=u'"Kink, Mr. Vincenz"', Age=u'26')
Row(Name=u'"Jenkin, Mr. Stephen Curnow"', Age=u'32')
Row(Name=u'"Goodwin, Miss. Lillian Amy"', Age=u'16')
Row(Name=u'"Hood, Mr. Ambrose Jr"', Age=u'21')
Row(Name=u'"Chronopoulos, Mr. Apostolos"', Age=u'26')
Row(Name=u'"Bing, Mr. Lee"', Age=u'32')
Row(Name=u'"Moen, Mr. Sigurd Hansen"', Age=u'25')
Row(Name=u'"Staneff, Mr. Ivan"', Age=u'')
Row(Name=u'"Moutal, Mr. Rahamin Haim"', Age=u'')
Row(Name=u'"Caldwell, Master. Alden Gates"', Age=u'0.83')
Row(Name=u'"Dowdell, Miss. Elizabeth"', Age=u'30')
Row(Name=u'"Waelens, Mr. Achille"', Age=u'22')
Row(Name=u'"Sheerlinck, Mr. Jan Baptist"', Age=u'29')
Row(Name=u'"McDermott, Miss. Brigdet Delia"', Age=u'')
Row(Name=u'"Carrau, Mr. Francisco M"', Age=u'28')
Row(Name=u'"Ilett, Miss. Bertha"', Age=u'17')
Row(Name=u'"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)"', Age=u'33')
Row(Name=u'"Ford, Mr. William Neal"', Age=u'16')
Row(Name=u'"Slocovski, Mr. Selman Francis"', Age=u'')
Row(Name=u'"Fortune, Miss. Mabel Helen"', Age=u'23')
Row(Name=u'"Celotti, Mr. Francesco"', Age=u'24')
Row(Name=u'"Christmann, Mr. Emil"', Age=u'29')
Row(Name=u'"Andreasson, Mr. Paul Edvin"', Age=u'20')
Row(Name=u'"Chaffee, Mr. Herbert Fuller"', Age=u'46')
Row(Name=u'"Dean, Mr. Bertram Frank"', Age=u'26')
Row(Name=u'"Coxon, Mr. Daniel"', Age=u'59')
Row(Name=u'"Shorney, Mr. Charles Joseph"', Age=u'')
Row(Name=u'"Goldschmidt, Mr. George B"', Age=u'71')
Row(Name=u'"Greenfield, Mr. William Bertram"', Age=u'23')
Row(Name=u'"Doling, Mrs. John T (Ada Julia Bone)"', Age=u'34')
Row(Name=u'"Kantor, Mr. Sinai"', Age=u'34')
Row(Name=u'"Petranec, Miss. Matilda"', Age=u'28')
Row(Name=u'"Petroff, Mr. Pastcho (""Pentcho"")"', Age=u'')
Row(Name=u'"White, Mr. Richard Frasar"', Age=u'21')
Row(Name=u'"Johansson, Mr. Gustaf Joel"', Age=u'33')
Row(Name=u'"Gustafsson, Mr. Anders Vilhelm"', Age=u'37')
Row(Name=u'"Mionoff, Mr. Stoytcho"', Age=u'28')
Row(Name=u'"Salkjelsvik, Miss. Anna Kristine"', Age=u'21')
Row(Name=u'"Moss, Mr. Albert Johan"', Age=u'')
Row(Name=u'"Rekic, Mr. Tido"', Age=u'38')
Row(Name=u'"Moran, Miss. Bertha"', Age=u'')
Row(Name=u'"Porter, Mr. Walter Chamberlain"', Age=u'47')
Row(Name=u'"Zabour, Miss. Hileni"', Age=u'14.5')
Row(Name=u'"Barton, Mr. David John"', Age=u'22')
Row(Name=u'"Jussila, Miss. Katriina"', Age=u'20')
Row(Name=u'"Attalah, Miss. Malake"', Age=u'17')
Row(Name=u'"Pekoniemi, Mr. Edvard"', Age=u'21')
Row(Name=u'"Connors, Mr. Patrick"', Age=u'70.5')
Row(Name=u'"Turpin, Mr. William John Robert"', Age=u'29')
Row(Name=u'"Baxter, Mr. Quigg Edmond"', Age=u'24')
Row(Name=u'"Andersson, Miss. Ellis Anna Maria"', Age=u'2')
Row(Name=u'"Hickman, Mr. Stanley George"', Age=u'21')
Row(Name=u'"Moore, Mr. Leonard Charles"', Age=u'')
Row(Name=u'"Nasser, Mr. Nicholas"', Age=u'32.5')
Row(Name=u'"Webber, Miss. Susan"', Age=u'32.5')
Row(Name=u'"White, Mr. Percival Wayland"', Age=u'54')
Row(Name=u'"Nicola-Yarred, Master. Elias"', Age=u'12')
Row(Name=u'"McMahon, Mr. Martin"', Age=u'')
Row(Name=u'"Madsen, Mr. Fridtjof Arne"', Age=u'24')
Row(Name=u'"Peter, Miss. Anna"', Age=u'')
Row(Name=u'"Ekstrom, Mr. Johan"', Age=u'45')
Row(Name=u'"Drazenoic, Mr. Jozef"', Age=u'33')
Row(Name=u'"Coelho, Mr. Domingos Fernandeo"', Age=u'20')
Row(Name=u'"Robins, Mrs. Alexander A (Grace Charity Laury)"', Age=u'47')
Row(Name=u'"Weisz, Mrs. Leopold (Mathilde Francoise Pede)"', Age=u'29')
Row(Name=u'"Sobey, Mr. Samuel James Hayden"', Age=u'25')
Row(Name=u'"Richard, Mr. Emile"', Age=u'23')
Row(Name=u'"Newsom, Miss. Helen Monypeny"', Age=u'19')
Row(Name=u'"Futrelle, Mr. Jacques Heath"', Age=u'37')
Row(Name=u'"Osen, Mr. Olaf Elon"', Age=u'16')
Row(Name=u'"Giglio, Mr. Victor"', Age=u'24')
Row(Name=u'"Boulos, Mrs. Joseph (Sultana)"', Age=u'')
Row(Name=u'"Nysten, Miss. Anna Sofia"', Age=u'22')
Row(Name=u'"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)"', Age=u'24')
Row(Name=u'"Burke, Mr. Jeremiah"', Age=u'19')
Row(Name=u'"Andrew, Mr. Edgardo Samuel"', Age=u'18')
Row(Name=u'"Nicholls, Mr. Joseph Charles"', Age=u'19')
Row(Name=u'"Andersson, Mr. August Edvard (""Wennerstrom"")"', Age=u'27')
Row(Name=u'"Ford, Miss. Robina Maggie ""Ruby"""', Age=u'9')
Row(Name=u'"Navratil, Mr. Michel (""Louis M Hoffman"")"', Age=u'36.5')
Row(Name=u'"Byles, Rev. Thomas Roussel Davids"', Age=u'42')
Row(Name=u'"Bateman, Rev. Robert James"', Age=u'51')
Row(Name=u'"Pears, Mrs. Thomas (Edith Wearne)"', Age=u'22')
Row(Name=u'"Meo, Mr. Alfonzo"', Age=u'55.5')
Row(Name=u'"van Billiard, Mr. Austin Blyler"', Age=u'40.5')
Row(Name=u'"Olsen, Mr. Ole Martin"', Age=u'')
Row(Name=u'"Williams, Mr. Charles Duane"', Age=u'51')
Row(Name=u'"Gilnagh, Miss. Katherine ""Katie"""', Age=u'16')
Row(Name=u'"Corn, Mr. Harry"', Age=u'30')
Row(Name=u'"Smiljanic, Mr. Mile"', Age=u'')
Row(Name=u'"Sage, Master. Thomas Henry"', Age=u'')
Row(Name=u'"Cribb, Mr. John Hatfield"', Age=u'44')
Row(Name=u'"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Milne)"', Age=u'40')
Row(Name=u'"Bengtsson, Mr. John Viktor"', Age=u'26')
Row(Name=u'"Calic, Mr. Jovo"', Age=u'17')
Row(Name=u'"Panula, Master. Eino Viljami"', Age=u'1')
Row(Name=u'"Goldsmith, Master. Frank John William ""Frankie"""', Age=u'9')
Row(Name=u'"Chibnall, Mrs. (Edith Martha Bowerman)"', Age=u'')
Row(Name=u'"Skoog, Mrs. William (Anna Bernhardina Karlsson)"', Age=u'45')
Row(Name=u'"Baumann, Mr. John D"', Age=u'')
Row(Name=u'"Ling, Mr. Lee"', Age=u'28')
Row(Name=u'"Van der hoef, Mr. Wyckoff"', Age=u'61')
Row(Name=u'"Rice, Master. Arthur"', Age=u'4')
Row(Name=u'"Johnson, Miss. Eleanor Ileen"', Age=u'1')
Row(Name=u'"Sivola, Mr. Antti Wilhelm"', Age=u'21')
Row(Name=u'"Smith, Mr. James Clinch"', Age=u'56')
Row(Name=u'"Klasen, Mr. Klas Albin"', Age=u'18')
Row(Name=u'"Lefebre, Master. Henry Forbes"', Age=u'')
Row(Name=u'"Isham, Miss. Ann Elizabeth"', Age=u'50')
Row(Name=u'"Hale, Mr. Reginald"', Age=u'30')
Row(Name=u'"Leonard, Mr. Lionel"', Age=u'36')
Row(Name=u'"Sage, Miss. Constance Gladys"', Age=u'')
Row(Name=u'"Pernot, Mr. Rene"', Age=u'')
Row(Name=u'"Asplund, Master. Clarence Gustaf Hugo"', Age=u'9')
Row(Name=u'"Becker, Master. Richard F"', Age=u'1')
Row(Name=u'"Kink-Heilmann, Miss. Luise Gretchen"', Age=u'4')
Row(Name=u'"Rood, Mr. Hugh Roscoe"', Age=u'')
Row(Name=u'"O\'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)"', Age=u'')
Row(Name=u'"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")"', Age=u'45')
Row(Name=u'"Bourke, Mr. John"', Age=u'40')
Row(Name=u'"Turcin, Mr. Stjepan"', Age=u'36')
Row(Name=u'"Pinsky, Mrs. (Rosa)"', Age=u'32')
Row(Name=u'"Carbines, Mr. William"', Age=u'19')
Row(Name=u'"Andersen-Jensen, Miss. Carla Christine Nielsine"', Age=u'19')
Row(Name=u'"Navratil, Master. Michel M"', Age=u'3')
Row(Name=u'"Brown, Mrs. James Joseph (Margaret Tobin)"', Age=u'44')
Row(Name=u'"Lurette, Miss. Elise"', Age=u'58')
Row(Name=u'"Mernagh, Mr. Robert"', Age=u'')
Row(Name=u'"Olsen, Mr. Karl Siegwart Andreas"', Age=u'42')
Row(Name=u'"Madigan, Miss. Margaret ""Maggie"""', Age=u'')
Row(Name=u'"Yrois, Miss. Henriette (""Mrs Harbeck"")"', Age=u'24')
Row(Name=u'"Vande Walle, Mr. Nestor Cyriel"', Age=u'28')
Row(Name=u'"Sage, Mr. Frederick"', Age=u'')
Row(Name=u'"Johanson, Mr. Jakob Alfred"', Age=u'34')
Row(Name=u'"Youseff, Mr. Gerious"', Age=u'45.5')
Row(Name=u'"Cohen, Mr. Gurshon ""Gus"""', Age=u'18')
Row(Name=u'"Strom, Miss. Telma Matilda"', Age=u'2')
Row(Name=u'"Backstrom, Mr. Karl Alfred"', Age=u'32')
Row(Name=u'"Albimona, Mr. Nassef Cassem"', Age=u'26')
Row(Name=u'"Carr, Miss. Helen ""Ellen"""', Age=u'16')
Row(Name=u'"Blank, Mr. Henry"', Age=u'40')
Row(Name=u'"Ali, Mr. Ahmed"', Age=u'24')
Row(Name=u'"Cameron, Miss. Clear Annie"', Age=u'35')
Row(Name=u'"Perkin, Mr. John Henry"', Age=u'22')
Row(Name=u'"Givard, Mr. Hans Kristensen"', Age=u'30')
Row(Name=u'"Kiernan, Mr. Philip"', Age=u'')
Row(Name=u'"Newell, Miss. Madeleine"', Age=u'31')
Row(Name=u'"Honkanen, Miss. Eliina"', Age=u'27')
Row(Name=u'"Jacobsohn, Mr. Sidney Samuel"', Age=u'42')
Row(Name=u'"Bazzani, Miss. Albina"', Age=u'32')
Row(Name=u'"Harris, Mr. Walter"', Age=u'30')
Row(Name=u'"Sunderland, Mr. Victor Francis"', Age=u'16')
Row(Name=u'"Bracken, Mr. James H"', Age=u'27')
Row(Name=u'"Green, Mr. George Henry"', Age=u'51')
Row(Name=u'"Nenkoff, Mr. Christo"', Age=u'')
Row(Name=u'"Hoyt, Mr. Frederick Maxfield"', Age=u'38')
Row(Name=u'"Berglund, Mr. Karl Ivar Sven"', Age=u'22')
Row(Name=u'"Mellors, Mr. William John"', Age=u'19')
Row(Name=u'"Lovell, Mr. John Hall (""Henry"")"', Age=u'20.5')
Row(Name=u'"Fahlstrom, Mr. Arne Jonas"', Age=u'18')
Row(Name=u'"Lefebre, Miss. Mathilde"', Age=u'')
Row(Name=u'"Harris, Mrs. Henry Birkhardt (Irene Wallach)"', Age=u'35')
Row(Name=u'"Larsson, Mr. Bengt Edvin"', Age=u'29')
Row(Name=u'"Sjostedt, Mr. Ernst Adolf"', Age=u'59')
Row(Name=u'"Asplund, Miss. Lillian Gertrud"', Age=u'5')
Row(Name=u'"Leyson, Mr. Robert William Norman"', Age=u'24')
Row(Name=u'"Harknett, Miss. Alice Phoebe"', Age=u'')
Row(Name=u'"Hold, Mr. Stephen"', Age=u'44')
Row(Name=u'"Collyer, Miss. Marjorie ""Lottie"""', Age=u'8')
Row(Name=u'"Pengelly, Mr. Frederick William"', Age=u'19')
Row(Name=u'"Hunt, Mr. George Henry"', Age=u'33')
Row(Name=u'"Zabour, Miss. Thamine"', Age=u'')
Row(Name=u'"Murphy, Miss. Katherine ""Kate"""', Age=u'')
Row(Name=u'"Coleridge, Mr. Reginald Charles"', Age=u'29')
Row(Name=u'"Maenpaa, Mr. Matti Alexanteri"', Age=u'22')
Row(Name=u'"Attalah, Mr. Sleiman"', Age=u'30')
Row(Name=u'"Minahan, Dr. William Edward"', Age=u'44')
Row(Name=u'"Lindahl, Miss. Agda Thorilda Viktoria"', Age=u'25')
Row(Name=u'"Hamalainen, Mrs. William (Anna)"', Age=u'24')
Row(Name=u'"Beckwith, Mr. Richard Leonard"', Age=u'37')
Row(Name=u'"Carter, Rev. Ernest Courtenay"', Age=u'54')
Row(Name=u'"Reed, Mr. James George"', Age=u'')
Row(Name=u'"Strom, Mrs. Wilhelm (Elna Matilda Persson)"', Age=u'29')
Row(Name=u'"Stead, Mr. William Thomas"', Age=u'62')
Row(Name=u'"Lobb, Mr. William Arthur"', Age=u'30')
Row(Name=u'"Rosblom, Mrs. Viktor (Helena Wilhelmina)"', Age=u'41')
Row(Name=u'"Touma, Mrs. Darwis (Hanne Youssef Razi)"', Age=u'29')
Row(Name=u'"Thorne, Mrs. Gertrude Maybelle"', Age=u'')
Row(Name=u'"Cherry, Miss. Gladys"', Age=u'30')
Row(Name=u'"Ward, Miss. Anna"', Age=u'35')
Row(Name=u'"Parrish, Mrs. (Lutie Davis)"', Age=u'50')
Row(Name=u'"Smith, Mr. Thomas"', Age=u'')
Row(Name=u'"Asplund, Master. Edvin Rojj Felix"', Age=u'3')
Row(Name=u'"Taussig, Mr. Emil"', Age=u'52')
Row(Name=u'"Harrison, Mr. William"', Age=u'40')
Row(Name=u'"Henry, Miss. Delia"', Age=u'')
Row(Name=u'"Reeves, Mr. David"', Age=u'36')
Row(Name=u'"Panula, Mr. Ernesti Arvid"', Age=u'16')
Row(Name=u'"Persson, Mr. Ernst Ulrik"', Age=u'25')
Row(Name=u'"Graham, Mrs. William Thompson (Edith Junkins)"', Age=u'58')
Row(Name=u'"Bissette, Miss. Amelia"', Age=u'35')
Row(Name=u'"Cairns, Mr. Alexander"', Age=u'')
Row(Name=u'"Tornquist, Mr. William Henry"', Age=u'25')
Row(Name=u'"Mellinger, Mrs. (Elizabeth Anne Maidment)"', Age=u'41')
Row(Name=u'"Natsch, Mr. Charles H"', Age=u'37')
Row(Name=u'"Healy, Miss. Hanora ""Nora"""', Age=u'')
Row(Name=u'"Andrews, Miss. Kornelia Theodosia"', Age=u'63')
Row(Name=u'"Lindblom, Miss. Augusta Charlotta"', Age=u'45')
Row(Name=u'"Parkes, Mr. Francis ""Frank"""', Age=u'')
Row(Name=u'"Rice, Master. Eric"', Age=u'7')
Row(Name=u'"Abbott, Mrs. Stanton (Rosa Hunt)"', Age=u'35')
Row(Name=u'"Duane, Mr. Frank"', Age=u'65')
Row(Name=u'"Olsson, Mr. Nils Johan Goransson"', Age=u'28')
Row(Name=u'"de Pelsmaeker, Mr. Alfons"', Age=u'16')
Row(Name=u'"Dorking, Mr. Edward Arthur"', Age=u'19')
Row(Name=u'"Smith, Mr. Richard William"', Age=u'')
Row(Name=u'"Stankovic, Mr. Ivan"', Age=u'33')
Row(Name=u'"de Mulder, Mr. Theodore"', Age=u'30')
Row(Name=u'"Naidenoff, Mr. Penko"', Age=u'22')
Row(Name=u'"Hosono, Mr. Masabumi"', Age=u'42')
Row(Name=u'"Connolly, Miss. Kate"', Age=u'22')
Row(Name=u'"Barber, Miss. Ellen ""Nellie"""', Age=u'26')
Row(Name=u'"Bishop, Mrs. Dickinson H (Helen Walton)"', Age=u'19')
Row(Name=u'"Levy, Mr. Rene Jacques"', Age=u'36')
Row(Name=u'"Haas, Miss. Aloisia"', Age=u'24')
Row(Name=u'"Mineff, Mr. Ivan"', Age=u'24')
Row(Name=u'"Lewy, Mr. Ervin G"', Age=u'')
Row(Name=u'"Hanna, Mr. Mansour"', Age=u'23.5')
Row(Name=u'"Allison, Miss. Helen Loraine"', Age=u'2')
Row(Name=u'"Saalfeld, Mr. Adolphe"', Age=u'')
Row(Name=u'"Baxter, Mrs. James (Helene DeLaudeniere Chaput)"', Age=u'50')
Row(Name=u'"Kelly, Miss. Anna Katherine ""Annie Kate"""', Age=u'')
Row(Name=u'"McCoy, Mr. Bernard"', Age=u'')
Row(Name=u'"Johnson, Mr. William Cahoone Jr"', Age=u'19')
Row(Name=u'"Keane, Miss. Nora A"', Age=u'')
Row(Name=u'"Williams, Mr. Howard Hugh ""Harry"""', Age=u'')
Row(Name=u'"Allison, Master. Hudson Trevor"', Age=u'0.92')
Row(Name=u'"Fleming, Miss. Margaret"', Age=u'')
Row(Name=u'"Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)"', Age=u'17')
Row(Name=u'"Abelson, Mr. Samuel"', Age=u'30')
Row(Name=u'"Francatelli, Miss. Laura Mabel"', Age=u'30')
Row(Name=u'"Hays, Miss. Margaret Bechstein"', Age=u'24')
Row(Name=u'"Ryerson, Miss. Emily Borie"', Age=u'18')
Row(Name=u'"Lahtinen, Mrs. William (Anna Sylfven)"', Age=u'26')
Row(Name=u'"Hendekovic, Mr. Ignjac"', Age=u'28')
Row(Name=u'"Hart, Mr. Benjamin"', Age=u'43')
Row(Name=u'"Nilsson, Miss. Helmina Josefina"', Age=u'26')
Row(Name=u'"Kantor, Mrs. Sinai (Miriam Sternin)"', Age=u'24')
Row(Name=u'"Moraweck, Dr. Ernest"', Age=u'54')
Row(Name=u'"Wick, Miss. Mary Natalie"', Age=u'31')
Row(Name=u'"Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)"', Age=u'40')
Row(Name=u'"Dennis, Mr. Samuel"', Age=u'22')
Row(Name=u'"Danoff, Mr. Yoto"', Age=u'27')
Row(Name=u'"Slayter, Miss. Hilda Mary"', Age=u'30')
Row(Name=u'"Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)"', Age=u'22')
Row(Name=u'"Sage, Mr. George John Jr"', Age=u'')
Row(Name=u'"Young, Miss. Marie Grice"', Age=u'36')
Row(Name=u'"Nysveen, Mr. Johan Hansen"', Age=u'61')
Row(Name=u'"Ball, Mrs. (Ada E Hall)"', Age=u'36')
Row(Name=u'"Goldsmith, Mrs. Frank John (Emily Alice Brown)"', Age=u'31')
Row(Name=u'"Hippach, Miss. Jean Gertrude"', Age=u'16')
Row(Name=u'"McCoy, Miss. Agnes"', Age=u'')
Row(Name=u'"Partner, Mr. Austen"', Age=u'45.5')
Row(Name=u'"Graham, Mr. George Edward"', Age=u'38')
Row(Name=u'"Vander Planke, Mr. Leo Edmondus"', Age=u'16')
Row(Name=u'"Frauenthal, Mrs. Henry William (Clara Heinsheimer)"', Age=u'')
Row(Name=u'"Denkoff, Mr. Mitto"', Age=u'')
Row(Name=u'"Pears, Mr. Thomas Clinton"', Age=u'29')
Row(Name=u'"Burns, Miss. Elizabeth Margaret"', Age=u'41')
Row(Name=u'"Dahl, Mr. Karl Edwart"', Age=u'45')
Row(Name=u'"Blackwell, Mr. Stephen Weart"', Age=u'45')
Row(Name=u'"Navratil, Master. Edmond Roger"', Age=u'2')
Row(Name=u'"Fortune, Miss. Alice Elizabeth"', Age=u'24')
Row(Name=u'"Collander, Mr. Erik Gustaf"', Age=u'28')
Row(Name=u'"Sedgwick, Mr. Charles Frederick Waddington"', Age=u'25')
Row(Name=u'"Fox, Mr. Stanley Hubert"', Age=u'36')
Row(Name=u'"Brown, Miss. Amelia ""Mildred"""', Age=u'24')
Row(Name=u'"Smith, Miss. Marion Elsie"', Age=u'40')
Row(Name=u'"Davison, Mrs. Thomas Henry (Mary E Finck)"', Age=u'')
Row(Name=u'"Coutts, Master. William Loch ""William"""', Age=u'3')
Row(Name=u'"Dimic, Mr. Jovan"', Age=u'42')
Row(Name=u'"Odahl, Mr. Nils Martin"', Age=u'23')
Row(Name=u'"Williams-Lambert, Mr. Fletcher Fellows"', Age=u'')
Row(Name=u'"Elias, Mr. Tannous"', Age=u'15')
Row(Name=u'"Arnold-Franchi, Mr. Josef"', Age=u'25')
Row(Name=u'"Yousif, Mr. Wazli"', Age=u'')
Row(Name=u'"Vanden Steen, Mr. Leo Peter"', Age=u'28')
Row(Name=u'"Bowerman, Miss. Elsie Edith"', Age=u'22')
Row(Name=u'"Funk, Miss. Annie Clemmer"', Age=u'38')
Row(Name=u'"McGovern, Miss. Mary"', Age=u'')
Row(Name=u'"Mockler, Miss. Helen Mary ""Ellie"""', Age=u'')
Row(Name=u'"Skoog, Mr. Wilhelm"', Age=u'40')
Row(Name=u'"del Carlo, Mr. Sebastiano"', Age=u'29')
Row(Name=u'"Barbara, Mrs. (Catherine David)"', Age=u'45')
Row(Name=u'"Asim, Mr. Adola"', Age=u'35')
Row(Name=u'"O\'Brien, Mr. Thomas"', Age=u'')
Row(Name=u'"Adahl, Mr. Mauritz Nils Martin"', Age=u'30')
Row(Name=u'"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)"', Age=u'60')
Row(Name=u'"Moussa, Mrs. (Mantoura Boulos)"', Age=u'')
Row(Name=u'"Jermyn, Miss. Annie"', Age=u'')
Row(Name=u'"Aubart, Mme. Leontine Pauline"', Age=u'24')
Row(Name=u'"Harder, Mr. George Achilles"', Age=u'25')

In [11]:
# Convert Age and Fare to float
df = schemaPeople.withColumn("Agetmp", schemaPeople.Age.cast('double')).drop("Age").withColumnRenamed("Agetmp","Age").withColumn("Faretmp", schemaPeople.Fare.cast('double')).drop("Fare").withColumnRenamed("Faretmp","Fare")
df.printSchema()

root
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- PassengerId: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Fare: double (nullable = true)

In [18]:
results = sqlContext.sql("SELECT Name, Age FROM titanic")
for name in results.collect():
  print(name)

Row(Name=u'"Braund, Mr. Owen Harris"', Age=u'22')
Row(Name=u'"Cumings, Mrs. John Bradley (Florence Briggs Thayer)"', Age=u'38')
Row(Name=u'"Heikkinen, Miss. Laina"', Age=u'26')
Row(Name=u'"Futrelle, Mrs. Jacques Heath (Lily May Peel)"', Age=u'35')
Row(Name=u'"Allen, Mr. William Henry"', Age=u'35')
Row(Name=u'"Moran, Mr. James"', Age=u'')
Row(Name=u'"McCarthy, Mr. Timothy J"', Age=u'54')
Row(Name=u'"Palsson, Master. Gosta Leonard"', Age=u'2')
Row(Name=u'"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)"', Age=u'27')
Row(Name=u'"Nasser, Mrs. Nicholas (Adele Achem)"', Age=u'14')
Row(Name=u'"Sandstrom, Miss. Marguerite Rut"', Age=u'4')
Row(Name=u'"Bonnell, Miss. Elizabeth"', Age=u'58')
Row(Name=u'"Saundercock, Mr. William Henry"', Age=u'20')
Row(Name=u'"Andersson, Mr. Anders Johan"', Age=u'39')
Row(Name=u'"Vestrom, Miss. Hulda Amanda Adolfina"', Age=u'14')
Row(Name=u'"Hewlett, Mrs. (Mary D Kingcome) "', Age=u'55')
Row(Name=u'"Rice, Master. Eugene"', Age=u'2')
Row(Name=u'"Williams, Mr. Charles Eugene"', Age=u'')
Row(Name=u'"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)"', Age=u'31')
Row(Name=u'"Masselmani, Mrs. Fatima"', Age=u'')
Row(Name=u'"Fynney, Mr. Joseph J"', Age=u'35')
Row(Name=u'"Beesley, Mr. Lawrence"', Age=u'34')
Row(Name=u'"McGowan, Miss. Anna ""Annie"""', Age=u'15')
Row(Name=u'"Sloper, Mr. William Thompson"', Age=u'28')
Row(Name=u'"Palsson, Miss. Torborg Danira"', Age=u'8')
Row(Name=u'"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)"', Age=u'38')
Row(Name=u'"Emir, Mr. Farred Chehab"', Age=u'')
Row(Name=u'"Fortune, Mr. Charles Alexander"', Age=u'19')
Row(Name=u'"O\'Dwyer, Miss. Ellen ""Nellie"""', Age=u'')
Row(Name=u'"Todoroff, Mr. Lalio"', Age=u'')
Row(Name=u'"Uruchurtu, Don. Manuel E"', Age=u'40')
Row(Name=u'"Spencer, Mrs. William Augustus (Marie Eugenie)"', Age=u'')
Row(Name=u'"Glynn, Miss. Mary Agatha"', Age=u'')
Row(Name=u'"Wheadon, Mr. Edward H"', Age=u'66')
Row(Name=u'"Meyer, Mr. Edgar Joseph"', Age=u'28')
Row(Name=u'"Holverson, Mr. Alexander Oskar"', Age=u'42')
Row(Name=u'"Mamee, Mr. Hanna"', Age=u'')
Row(Name=u'"Cann, Mr. Ernest Charles"', Age=u'21')
Row(Name=u'"Vander Planke, Miss. Augusta Maria"', Age=u'18')
Row(Name=u'"Nicola-Yarred, Miss. Jamila"', Age=u'14')
Row(Name=u'"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)"', Age=u'40')
Row(Name=u'"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)"', Age=u'27')
Row(Name=u'"Kraeff, Mr. Theodor"', Age=u'')
Row(Name=u'"Laroche, Miss. Simonne Marie Anne Andree"', Age=u'3')
Row(Name=u'"Devaney, Miss. Margaret Delia"', Age=u'19')
Row(Name=u'"Rogers, Mr. William John"', Age=u'')
Row(Name=u'"Lennon, Mr. Denis"', Age=u'')
Row(Name=u'"O\'Driscoll, Miss. Bridget"', Age=u'')
Row(Name=u'"Samaan, Mr. Youssef"', Age=u'')
Row(Name=u'"Arnold-Franchi, Mrs. Josef (Josefine Franchi)"', Age=u'18')
Row(Name=u'"Panula, Master. Juha Niilo"', Age=u'7')
Row(Name=u'"Nosworthy, Mr. Richard Cater"', Age=u'21')
Row(Name=u'"Harper, Mrs. Henry Sleeper (Myna Haxtun)"', Age=u'49')
Row(Name=u'"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)"', Age=u'29')
Row(Name=u'"Ostby, Mr. Engelhart Cornelius"', Age=u'65')
Row(Name=u'"Woolner, Mr. Hugh"', Age=u'')
Row(Name=u'"Rugg, Miss. Emily"', Age=u'21')
Row(Name=u'"Novel, Mr. Mansouer"', Age=u'28.5')
Row(Name=u'"West, Miss. Constance Mirium"', Age=u'5')
Row(Name=u'"Goodwin, Master. William Frederick"', Age=u'11')
Row(Name=u'"Sirayanian, Mr. Orsen"', Age=u'22')
Row(Name=u'"Icard, Miss. Amelie"', Age=u'38')
Row(Name=u'"Harris, Mr. Henry Birkhardt"', Age=u'45')
Row(Name=u'"Skoog, Master. Harald"', Age=u'4')
Row(Name=u'"Stewart, Mr. Albert A"', Age=u'')
Row(Name=u'"Moubarek, Master. Gerios"', Age=u'')
Row(Name=u'"Nye, Mrs. (Elizabeth Ramell)"', Age=u'29')
Row(Name=u'"Crease, Mr. Ernest James"', Age=u'19')
Row(Name=u'"Andersson, Miss. Erna Alexandra"', Age=u'17')
Row(Name=u'"Kink, Mr. Vincenz"', Age=u'26')
Row(Name=u'"Jenkin, Mr. Stephen Curnow"', Age=u'32')
Row(Name=u'"Goodwin, Miss. Lillian Amy"', Age=u'16')
Row(Name=u'"Hood, Mr. Ambrose Jr"', Age=u'21')
Row(Name=u'"Chronopoulos, Mr. Apostolos"', Age=u'26')
Row(Name=u'"Bing, Mr. Lee"', Age=u'32')
Row(Name=u'"Moen, Mr. Sigurd Hansen"', Age=u'25')
Row(Name=u'"Staneff, Mr. Ivan"', Age=u'')
Row(Name=u'"Moutal, Mr. Rahamin Haim"', Age=u'')
Row(Name=u'"Caldwell, Master. Alden Gates"', Age=u'0.83')
Row(Name=u'"Dowdell, Miss. Elizabeth"', Age=u'30')
Row(Name=u'"Waelens, Mr. Achille"', Age=u'22')
Row(Name=u'"Sheerlinck, Mr. Jan Baptist"', Age=u'29')
Row(Name=u'"McDermott, Miss. Brigdet Delia"', Age=u'')
Row(Name=u'"Carrau, Mr. Francisco M"', Age=u'28')
Row(Name=u'"Ilett, Miss. Bertha"', Age=u'17')
Row(Name=u'"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)"', Age=u'33')
Row(Name=u'"Ford, Mr. William Neal"', Age=u'16')
Row(Name=u'"Slocovski, Mr. Selman Francis"', Age=u'')
Row(Name=u'"Fortune, Miss. Mabel Helen"', Age=u'23')
Row(Name=u'"Celotti, Mr. Francesco"', Age=u'24')
Row(Name=u'"Christmann, Mr. Emil"', Age=u'29')
Row(Name=u'"Andreasson, Mr. Paul Edvin"', Age=u'20')
Row(Name=u'"Chaffee, Mr. Herbert Fuller"', Age=u'46')
Row(Name=u'"Dean, Mr. Bertram Frank"', Age=u'26')
Row(Name=u'"Coxon, Mr. Daniel"', Age=u'59')
Row(Name=u'"Shorney, Mr. Charles Joseph"', Age=u'')
Row(Name=u'"Goldschmidt, Mr. George B"', Age=u'71')
Row(Name=u'"Greenfield, Mr. William Bertram"', Age=u'23')
Row(Name=u'"Doling, Mrs. John T (Ada Julia Bone)"', Age=u'34')
Row(Name=u'"Kantor, Mr. Sinai"', Age=u'34')
Row(Name=u'"Petranec, Miss. Matilda"', Age=u'28')
Row(Name=u'"Petroff, Mr. Pastcho (""Pentcho"")"', Age=u'')
Row(Name=u'"White, Mr. Richard Frasar"', Age=u'21')
Row(Name=u'"Johansson, Mr. Gustaf Joel"', Age=u'33')
Row(Name=u'"Gustafsson, Mr. Anders Vilhelm"', Age=u'37')
Row(Name=u'"Mionoff, Mr. Stoytcho"', Age=u'28')
Row(Name=u'"Salkjelsvik, Miss. Anna Kristine"', Age=u'21')
Row(Name=u'"Moss, Mr. Albert Johan"', Age=u'')
Row(Name=u'"Rekic, Mr. Tido"', Age=u'38')
Row(Name=u'"Moran, Miss. Bertha"', Age=u'')
Row(Name=u'"Porter, Mr. Walter Chamberlain"', Age=u'47')
Row(Name=u'"Zabour, Miss. Hileni"', Age=u'14.5')
Row(Name=u'"Barton, Mr. David John"', Age=u'22')
Row(Name=u'"Jussila, Miss. Katriina"', Age=u'20')
Row(Name=u'"Attalah, Miss. Malake"', Age=u'17')
Row(Name=u'"Pekoniemi, Mr. Edvard"', Age=u'21')
Row(Name=u'"Connors, Mr. Patrick"', Age=u'70.5')
Row(Name=u'"Turpin, Mr. William John Robert"', Age=u'29')
Row(Name=u'"Baxter, Mr. Quigg Edmond"', Age=u'24')
Row(Name=u'"Andersson, Miss. Ellis Anna Maria"', Age=u'2')
Row(Name=u'"Hickman, Mr. Stanley George"', Age=u'21')
Row(Name=u'"Moore, Mr. Leonard Charles"', Age=u'')
Row(Name=u'"Nasser, Mr. Nicholas"', Age=u'32.5')
Row(Name=u'"Webber, Miss. Susan"', Age=u'32.5')
Row(Name=u'"White, Mr. Percival Wayland"', Age=u'54')
Row(Name=u'"Nicola-Yarred, Master. Elias"', Age=u'12')
Row(Name=u'"McMahon, Mr. Martin"', Age=u'')
Row(Name=u'"Madsen, Mr. Fridtjof Arne"', Age=u'24')
Row(Name=u'"Peter, Miss. Anna"', Age=u'')
Row(Name=u'"Ekstrom, Mr. Johan"', Age=u'45')
Row(Name=u'"Drazenoic, Mr. Jozef"', Age=u'33')
Row(Name=u'"Coelho, Mr. Domingos Fernandeo"', Age=u'20')
Row(Name=u'"Robins, Mrs. Alexander A (Grace Charity Laury)"', Age=u'47')
Row(Name=u'"Weisz, Mrs. Leopold (Mathilde Francoise Pede)"', Age=u'29')
Row(Name=u'"Sobey, Mr. Samuel James Hayden"', Age=u'25')
Row(Name=u'"Richard, Mr. Emile"', Age=u'23')
Row(Name=u'"Newsom, Miss. Helen Monypeny"', Age=u'19')
Row(Name=u'"Futrelle, Mr. Jacques Heath"', Age=u'37')
Row(Name=u'"Osen, Mr. Olaf Elon"', Age=u'16')
Row(Name=u'"Giglio, Mr. Victor"', Age=u'24')
Row(Name=u'"Boulos, Mrs. Joseph (Sultana)"', Age=u'')
Row(Name=u'"Nysten, Miss. Anna Sofia"', Age=u'22')
Row(Name=u'"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)"', Age=u'24')
Row(Name=u'"Burke, Mr. Jeremiah"', Age=u'19')
Row(Name=u'"Andrew, Mr. Edgardo Samuel"', Age=u'18')
Row(Name=u'"Nicholls, Mr. Joseph Charles"', Age=u'19')
Row(Name=u'"Andersson, Mr. August Edvard (""Wennerstrom"")"', Age=u'27')
Row(Name=u'"Ford, Miss. Robina Maggie ""Ruby"""', Age=u'9')
Row(Name=u'"Navratil, Mr. Michel (""Louis M Hoffman"")"', Age=u'36.5')
Row(Name=u'"Byles, Rev. Thomas Roussel Davids"', Age=u'42')
Row(Name=u'"Bateman, Rev. Robert James"', Age=u'51')
Row(Name=u'"Pears, Mrs. Thomas (Edith Wearne)"', Age=u'22')
Row(Name=u'"Meo, Mr. Alfonzo"', Age=u'55.5')
Row(Name=u'"van Billiard, Mr. Austin Blyler"', Age=u'40.5')
Row(Name=u'"Olsen, Mr. Ole Martin"', Age=u'')
Row(Name=u'"Williams, Mr. Charles Duane"', Age=u'51')
Row(Name=u'"Gilnagh, Miss. Katherine ""Katie"""', Age=u'16')
Row(Name=u'"Corn, Mr. Harry"', Age=u'30')
Row(Name=u'"Smiljanic, Mr. Mile"', Age=u'')
Row(Name=u'"Sage, Master. Thomas Henry"', Age=u'')
Row(Name=u'"Cribb, Mr. John Hatfield"', Age=u'44')
Row(Name=u'"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Milne)"', Age=u'40')
Row(Name=u'"Bengtsson, Mr. John Viktor"', Age=u'26')
Row(Name=u'"Calic, Mr. Jovo"', Age=u'17')
Row(Name=u'"Panula, Master. Eino Viljami"', Age=u'1')
Row(Name=u'"Goldsmith, Master. Frank John William ""Frankie"""', Age=u'9')
Row(Name=u'"Chibnall, Mrs. (Edith Martha Bowerman)"', Age=u'')
Row(Name=u'"Skoog, Mrs. William (Anna Bernhardina Karlsson)"', Age=u'45')
Row(Name=u'"Baumann, Mr. John D"', Age=u'')
Row(Name=u'"Ling, Mr. Lee"', Age=u'28')
Row(Name=u'"Van der hoef, Mr. Wyckoff"', Age=u'61')
Row(Name=u'"Rice, Master. Arthur"', Age=u'4')
Row(Name=u'"Johnson, Miss. Eleanor Ileen"', Age=u'1')
Row(Name=u'"Sivola, Mr. Antti Wilhelm"', Age=u'21')
Row(Name=u'"Smith, Mr. James Clinch"', Age=u'56')
Row(Name=u'"Klasen, Mr. Klas Albin"', Age=u'18')
Row(Name=u'"Lefebre, Master. Henry Forbes"', Age=u'')
Row(Name=u'"Isham, Miss. Ann Elizabeth"', Age=u'50')
Row(Name=u'"Hale, Mr. Reginald"', Age=u'30')
Row(Name=u'"Leonard, Mr. Lionel"', Age=u'36')
Row(Name=u'"Sage, Miss. Constance Gladys"', Age=u'')
Row(Name=u'"Pernot, Mr. Rene"', Age=u'')
Row(Name=u'"Asplund, Master. Clarence Gustaf Hugo"', Age=u'9')
Row(Name=u'"Becker, Master. Richard F"', Age=u'1')
Row(Name=u'"Kink-Heilmann, Miss. Luise Gretchen"', Age=u'4')
Row(Name=u'"Rood, Mr. Hugh Roscoe"', Age=u'')
Row(Name=u'"O\'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)"', Age=u'')
Row(Name=u'"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")"', Age=u'45')
Row(Name=u'"Bourke, Mr. John"', Age=u'40')
Row(Name=u'"Turcin, Mr. Stjepan"', Age=u'36')
Row(Name=u'"Pinsky, Mrs. (Rosa)"', Age=u'32')
Row(Name=u'"Carbines, Mr. William"', Age=u'19')
Row(Name=u'"Andersen-Jensen, Miss. Carla Christine Nielsine"', Age=u'19')
Row(Name=u'"Navratil, Master. Michel M"', Age=u'3')
Row(Name=u'"Brown, Mrs. James Joseph (Margaret Tobin)"', Age=u'44')
Row(Name=u'"Lurette, Miss. Elise"', Age=u'58')
Row(Name=u'"Mernagh, Mr. Robert"', Age=u'')
Row(Name=u'"Olsen, Mr. Karl Siegwart Andreas"', Age=u'42')
Row(Name=u'"Madigan, Miss. Margaret ""Maggie"""', Age=u'')
Row(Name=u'"Yrois, Miss. Henriette (""Mrs Harbeck"")"', Age=u'24')
Row(Name=u'"Vande Walle, Mr. Nestor Cyriel"', Age=u'28')
Row(Name=u'"Sage, Mr. Frederick"', Age=u'')
Row(Name=u'"Johanson, Mr. Jakob Alfred"', Age=u'34')
Row(Name=u'"Youseff, Mr. Gerious"', Age=u'45.5')
Row(Name=u'"Cohen, Mr. Gurshon ""Gus"""', Age=u'18')
Row(Name=u'"Strom, Miss. Telma Matilda"', Age=u'2')
Row(Name=u'"Backstrom, Mr. Karl Alfred"', Age=u'32')
Row(Name=u'"Albimona, Mr. Nassef Cassem"', Age=u'26')
Row(Name=u'"Carr, Miss. Helen ""Ellen"""', Age=u'16')
Row(Name=u'"Blank, Mr. Henry"', Age=u'40')
Row(Name=u'"Ali, Mr. Ahmed"', Age=u'24')
Row(Name=u'"Cameron, Miss. Clear Annie"', Age=u'35')
Row(Name=u'"Perkin, Mr. John Henry"', Age=u'22')
Row(Name=u'"Givard, Mr. Hans Kristensen"', Age=u'30')
Row(Name=u'"Kiernan, Mr. Philip"', Age=u'')
Row(Name=u'"Newell, Miss. Madeleine"', Age=u'31')
Row(Name=u'"Honkanen, Miss. Eliina"', Age=u'27')
Row(Name=u'"Jacobsohn, Mr. Sidney Samuel"', Age=u'42')
Row(Name=u'"Bazzani, Miss. Albina"', Age=u'32')
Row(Name=u'"Harris, Mr. Walter"', Age=u'30')
Row(Name=u'"Sunderland, Mr. Victor Francis"', Age=u'16')
Row(Name=u'"Bracken, Mr. James H"', Age=u'27')
Row(Name=u'"Green, Mr. George Henry"', Age=u'51')
Row(Name=u'"Nenkoff, Mr. Christo"', Age=u'')
Row(Name=u'"Hoyt, Mr. Frederick Maxfield"', Age=u'38')
Row(Name=u'"Berglund, Mr. Karl Ivar Sven"', Age=u'22')
Row(Name=u'"Mellors, Mr. William John"', Age=u'19')
Row(Name=u'"Lovell, Mr. John Hall (""Henry"")"', Age=u'20.5')
Row(Name=u'"Fahlstrom, Mr. Arne Jonas"', Age=u'18')
Row(Name=u'"Lefebre, Miss. Mathilde"', Age=u'')
Row(Name=u'"Harris, Mrs. Henry Birkhardt (Irene Wallach)"', Age=u'35')
Row(Name=u'"Larsson, Mr. Bengt Edvin"', Age=u'29')
Row(Name=u'"Sjostedt, Mr. Ernst Adolf"', Age=u'59')
Row(Name=u'"Asplund, Miss. Lillian Gertrud"', Age=u'5')
Row(Name=u'"Leyson, Mr. Robert William Norman"', Age=u'24')
Row(Name=u'"Harknett, Miss. Alice Phoebe"', Age=u'')
Row(Name=u'"Hold, Mr. Stephen"', Age=u'44')
Row(Name=u'"Collyer, Miss. Marjorie ""Lottie"""', Age=u'8')
Row(Name=u'"Pengelly, Mr. Frederick William"', Age=u'19')
Row(Name=u'"Hunt, Mr. George Henry"', Age=u'33')
Row(Name=u'"Zabour, Miss. Thamine"', Age=u'')
Row(Name=u'"Murphy, Miss. Katherine ""Kate"""', Age=u'')
Row(Name=u'"Coleridge, Mr. Reginald Charles"', Age=u'29')
Row(Name=u'"Maenpaa, Mr. Matti Alexanteri"', Age=u'22')
Row(Name=u'"Attalah, Mr. Sleiman"', Age=u'30')
Row(Name=u'"Minahan, Dr. William Edward"', Age=u'44')
Row(Name=u'"Lindahl, Miss. Agda Thorilda Viktoria"', Age=u'25')
Row(Name=u'"Hamalainen, Mrs. William (Anna)"', Age=u'24')
Row(Name=u'"Beckwith, Mr. Richard Leonard"', Age=u'37')
Row(Name=u'"Carter, Rev. Ernest Courtenay"', Age=u'54')
Row(Name=u'"Reed, Mr. James George"', Age=u'')
Row(Name=u'"Strom, Mrs. Wilhelm (Elna Matilda Persson)"', Age=u'29')
Row(Name=u'"Stead, Mr. William Thomas"', Age=u'62')
Row(Name=u'"Lobb, Mr. William Arthur"', Age=u'30')
Row(Name=u'"Rosblom, Mrs. Viktor (Helena Wilhelmina)"', Age=u'41')
Row(Name=u'"Touma, Mrs. Darwis (Hanne Youssef Razi)"', Age=u'29')
Row(Name=u'"Thorne, Mrs. Gertrude Maybelle"', Age=u'')
Row(Name=u'"Cherry, Miss. Gladys"', Age=u'30')
Row(Name=u'"Ward, Miss. Anna"', Age=u'35')
Row(Name=u'"Parrish, Mrs. (Lutie Davis)"', Age=u'50')
Row(Name=u'"Smith, Mr. Thomas"', Age=u'')
Row(Name=u'"Asplund, Master. Edvin Rojj Felix"', Age=u'3')
Row(Name=u'"Taussig, Mr. Emil"', Age=u'52')
Row(Name=u'"Harrison, Mr. William"', Age=u'40')
Row(Name=u'"Henry, Miss. Delia"', Age=u'')
Row(Name=u'"Reeves, Mr. David"', Age=u'36')
Row(Name=u'"Panula, Mr. Ernesti Arvid"', Age=u'16')
Row(Name=u'"Persson, Mr. Ernst Ulrik"', Age=u'25')
Row(Name=u'"Graham, Mrs. William Thompson (Edith Junkins)"', Age=u'58')
Row(Name=u'"Bissette, Miss. Amelia"', Age=u'35')
Row(Name=u'"Cairns, Mr. Alexander"', Age=u'')
Row(Name=u'"Tornquist, Mr. William Henry"', Age=u'25')
Row(Name=u'"Mellinger, Mrs. (Elizabeth Anne Maidment)"', Age=u'41')
Row(Name=u'"Natsch, Mr. Charles H"', Age=u'37')
Row(Name=u'"Healy, Miss. Hanora ""Nora"""', Age=u'')
Row(Name=u'"Andrews, Miss. Kornelia Theodosia"', Age=u'63')
Row(Name=u'"Lindblom, Miss. Augusta Charlotta"', Age=u'45')
Row(Name=u'"Parkes, Mr. Francis ""Frank"""', Age=u'')
Row(Name=u'"Rice, Master. Eric"', Age=u'7')
Row(Name=u'"Abbott, Mrs. Stanton (Rosa Hunt)"', Age=u'35')
Row(Name=u'"Duane, Mr. Frank"', Age=u'65')
Row(Name=u'"Olsson, Mr. Nils Johan Goransson"', Age=u'28')
Row(Name=u'"de Pelsmaeker, Mr. Alfons"', Age=u'16')
Row(Name=u'"Dorking, Mr. Edward Arthur"', Age=u'19')
Row(Name=u'"Smith, Mr. Richard William"', Age=u'')
Row(Name=u'"Stankovic, Mr. Ivan"', Age=u'33')
Row(Name=u'"de Mulder, Mr. Theodore"', Age=u'30')
Row(Name=u'"Naidenoff, Mr. Penko"', Age=u'22')
Row(Name=u'"Hosono, Mr. Masabumi"', Age=u'42')
Row(Name=u'"Connolly, Miss. Kate"', Age=u'22')
Row(Name=u'"Barber, Miss. Ellen ""Nellie"""', Age=u'26')
Row(Name=u'"Bishop, Mrs. Dickinson H (Helen Walton)"', Age=u'19')
Row(Name=u'"Levy, Mr. Rene Jacques"', Age=u'36')
Row(Name=u'"Haas, Miss. Aloisia"', Age=u'24')
Row(Name=u'"Mineff, Mr. Ivan"', Age=u'24')
Row(Name=u'"Lewy, Mr. Ervin G"', Age=u'')
Row(Name=u'"Hanna, Mr. Mansour"', Age=u'23.5')
Row(Name=u'"Allison, Miss. Helen Loraine"', Age=u'2')
Row(Name=u'"Saalfeld, Mr. Adolphe"', Age=u'')
Row(Name=u'"Baxter, Mrs. James (Helene DeLaudeniere Chaput)"', Age=u'50')
Row(Name=u'"Kelly, Miss. Anna Katherine ""Annie Kate"""', Age=u'')
Row(Name=u'"McCoy, Mr. Bernard"', Age=u'')
Row(Name=u'"Johnson, Mr. William Cahoone Jr"', Age=u'19')
Row(Name=u'"Keane, Miss. Nora A"', Age=u'')
Row(Name=u'"Williams, Mr. Howard Hugh ""Harry"""', Age=u'')
Row(Name=u'"Allison, Master. Hudson Trevor"', Age=u'0.92')
Row(Name=u'"Fleming, Miss. Margaret"', Age=u'')
Row(Name=u'"Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)"', Age=u'17')
Row(Name=u'"Abelson, Mr. Samuel"', Age=u'30')
Row(Name=u'"Francatelli, Miss. Laura Mabel"', Age=u'30')
Row(Name=u'"Hays, Miss. Margaret Bechstein"', Age=u'24')
Row(Name=u'"Ryerson, Miss. Emily Borie"', Age=u'18')
Row(Name=u'"Lahtinen, Mrs. William (Anna Sylfven)"', Age=u'26')
Row(Name=u'"Hendekovic, Mr. Ignjac"', Age=u'28')
Row(Name=u'"Hart, Mr. Benjamin"', Age=u'43')
Row(Name=u'"Nilsson, Miss. Helmina Josefina"', Age=u'26')
Row(Name=u'"Kantor, Mrs. Sinai (Miriam Sternin)"', Age=u'24')
Row(Name=u'"Moraweck, Dr. Ernest"', Age=u'54')
Row(Name=u'"Wick, Miss. Mary Natalie"', Age=u'31')
Row(Name=u'"Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)"', Age=u'40')
Row(Name=u'"Dennis, Mr. Samuel"', Age=u'22')
Row(Name=u'"Danoff, Mr. Yoto"', Age=u'27')
Row(Name=u'"Slayter, Miss. Hilda Mary"', Age=u'30')
Row(Name=u'"Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)"', Age=u'22')
Row(Name=u'"Sage, Mr. George John Jr"', Age=u'')
Row(Name=u'"Young, Miss. Marie Grice"', Age=u'36')
Row(Name=u'"Nysveen, Mr. Johan Hansen"', Age=u'61')
Row(Name=u'"Ball, Mrs. (Ada E Hall)"', Age=u'36')
Row(Name=u'"Goldsmith, Mrs. Frank John (Emily Alice Brown)"', Age=u'31')
Row(Name=u'"Hippach, Miss. Jean Gertrude"', Age=u'16')
Row(Name=u'"McCoy, Miss. Agnes"', Age=u'')
Row(Name=u'"Partner, Mr. Austen"', Age=u'45.5')
Row(Name=u'"Graham, Mr. George Edward"', Age=u'38')
Row(Name=u'"Vander Planke, Mr. Leo Edmondus"', Age=u'16')
Row(Name=u'"Frauenthal, Mrs. Henry William (Clara Heinsheimer)"', Age=u'')
Row(Name=u'"Denkoff, Mr. Mitto"', Age=u'')
Row(Name=u'"Pears, Mr. Thomas Clinton"', Age=u'29')
Row(Name=u'"Burns, Miss. Elizabeth Margaret"', Age=u'41')
Row(Name=u'"Dahl, Mr. Karl Edwart"', Age=u'45')
Row(Name=u'"Blackwell, Mr. Stephen Weart"', Age=u'45')
Row(Name=u'"Navratil, Master. Edmond Roger"', Age=u'2')
Row(Name=u'"Fortune, Miss. Alice Elizabeth"', Age=u'24')
Row(Name=u'"Collander, Mr. Erik Gustaf"', Age=u'28')
Row(Name=u'"Sedgwick, Mr. Charles Frederick Waddington"', Age=u'25')
Row(Name=u'"Fox, Mr. Stanley Hubert"', Age=u'36')
Row(Name=u'"Brown, Miss. Amelia ""Mildred"""', Age=u'24')
Row(Name=u'"Smith, Miss. Marion Elsie"', Age=u'40')
Row(Name=u'"Davison, Mrs. Thomas Henry (Mary E Finck)"', Age=u'')
Row(Name=u'"Coutts, Master. William Loch ""William"""', Age=u'3')
Row(Name=u'"Dimic, Mr. Jovan"', Age=u'42')
Row(Name=u'"Odahl, Mr. Nils Martin"', Age=u'23')
Row(Name=u'"Williams-Lambert, Mr. Fletcher Fellows"', Age=u'')
Row(Name=u'"Elias, Mr. Tannous"', Age=u'15')
Row(Name=u'"Arnold-Franchi, Mr. Josef"', Age=u'25')
Row(Name=u'"Yousif, Mr. Wazli"', Age=u'')
Row(Name=u'"Vanden Steen, Mr. Leo Peter"', Age=u'28')
Row(Name=u'"Bowerman, Miss. Elsie Edith"', Age=u'22')
Row(Name=u'"Funk, Miss. Annie Clemmer"', Age=u'38')
Row(Name=u'"McGovern, Miss. Mary"', Age=u'')
Row(Name=u'"Mockler, Miss. Helen Mary ""Ellie"""', Age=u'')
Row(Name=u'"Skoog, Mr. Wilhelm"', Age=u'40')
Row(Name=u'"del Carlo, Mr. Sebastiano"', Age=u'29')
Row(Name=u'"Barbara, Mrs. (Catherine David)"', Age=u'45')
Row(Name=u'"Asim, Mr. Adola"', Age=u'35')
Row(Name=u'"O\'Brien, Mr. Thomas"', Age=u'')
Row(Name=u'"Adahl, Mr. Mauritz Nils Martin"', Age=u'30')
Row(Name=u'"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)"', Age=u'60')
Row(Name=u'"Moussa, Mrs. (Mantoura Boulos)"', Age=u'')
Row(Name=u'"Jermyn, Miss. Annie"', Age=u'')
Row(Name=u'"Aubart, Mme. Leontine Pauline"', Age=u'24')
Row(Name=u'"Harder, Mr. George Achilles"', Age=u'25')

In [22]:
# Convert Age and Fare to float for data
df = schemaPeople.withColumn("Agetmp", schemaPeople.Age.cast('double'))
                .drop("Age")
                .withColumnRenamed("Agetmp","Age")
                .withColumn("Faretmp", schemaPeople.Fare.cast('double'))
                .drop("Fare")
                .withColumnRenamed("Faretmp","Fare")
df.printSchema()

root
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- PassengerId: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Fare: double (nullable = true)

In [8]:
# Create Dataframe for Test data
test_parts = test_data.map(lambda l: l.split(",", -1))
testPeople = test_parts.map(lambda p: Row(PassengerId=(p[0]),  
                                 Pclass=p[1], Name=p[2]+','+p[3], Sex=p[4], Age=((p[5])), 
                                 SibSp=(p[6]), Parch=(p[7]), Ticket=p[8], 
                                 Fare=p[9], Cabin=p[10], Embarked=p[11]))

# Apply the schema to the RDD.
test_schemaPeople = sqlContext.createDataFrame(testPeople)

# Register the DataFrame as a table.
test_schemaPeople.registerTempTable("titanic_test")

# Convert Age and Fare to float for test data
test_df = test_schemaPeople.withColumn("Agetmp", test_schemaPeople.Age.cast('double'))
                        .drop("Age")
                        .withColumnRenamed("Agetmp","Age")
                        .withColumn("Faretmp", test_schemaPeople.Fare.cast('double'))
                        .drop("Fare")
                        .withColumnRenamed("Faretmp","Fare")
test_df.printSchema()

root
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- PassengerId: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Fare: double (nullable = true)

In [24]:
from pyspark.ml.feature import StringIndexer
from pyspark.ml.feature import Bucketizer
from pyspark.mllib.linalg import Vectors
from pyspark.ml.feature import VectorAssembler



# StringIndexer for Pclass and Sex
pclassIndexer = StringIndexer(inputCol="Pclass", outputCol="PclassIndex")
sexIndexer = StringIndexer(inputCol="Sex", outputCol="SexIndex")

#Bucketizer for Age and Fare
ageSplits = [0.0, 5.0, 12.0, 18.0, 30.0, 60.0, 120.0]
fareSplits = [0.0, 5.0, 10.0, 30.0, 50.0, 75.0, 100.0, float("inf")]

ageBucketizer = Bucketizer(splits=ageSplits, inputCol="Age", outputCol="bucketedAge")
fareBucketizer = Bucketizer(splits=fareSplits, inputCol="Fare", outputCol="bucketedFare")


#Vector Assembler for features
featureAssembler = VectorAssembler(
   # inputCols=["PclassIndex", "SexIndex", "bucketedAge"],
    inputCols=["PclassIndex", "SexIndex", "bucketedAge", "bucketedFare"],
    outputCol="features")

# Label Indexer using StringIndexer
labelIndexer = StringIndexer(inputCol="Survived", outputCol="indexedLabel")

In [25]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import DecisionTreeClassifier

# Train a DecisionTree model.
dt = DecisionTreeClassifier(labelCol="indexedLabel", featuresCol="features")

# Chain indexers and tree in a Pipeline
pipeline = Pipeline(stages=[pclassIndexer, sexIndexer, labelIndexer, 
                            ageBucketizer, fareBucketizer, featureAssembler, dt])

# Train model.  This also runs the indexers.
model = pipeline.fit(df)

treeModel = model.stages[6]
print treeModel # summary only

DecisionTreeClassifier_42a090ddd04b15851a1b

In [27]:
import numpy
from numpy import array

# Make predictions.
predictions = model.transform(test_df).select("PassengerId", "prediction")
predictionStrings = predictions.withColumn("Survived", predictions.prediction.cast('int'))
                    .drop("prediction")
predictions.printSchema()

# Select example rows to display.
output= predictionStrings.rdd
header = sc.parallelize(array(["PassengerId,Survived"]))
lines = output.map(lambda l: str(l[0]) + ',' + str(l[1]))
header.union(lines).saveAsTextFile('file:/root/notebooks/Titanic/predicted_output.csv')

#Kaggle score = 0.7521 on first attempt

root
 |-- PassengerId: string (nullable = true)
 |-- prediction: double (nullable = true)

In [18]:
from pyspark.sql import SQLContext, Row
from pyspark.ml import Pipeline
from pyspark.ml import Transformer
from pyspark.ml.feature import Tokenizer, HashingTF
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.param.shared import HasInputCol, HasOutputCol, Param

sqlContext = SQLContext(sc)

def getLabelAndFeats(line):
    """
    Parse a line of text into an MLlib LabeledPoint object.
    """
    values = line.split(',',2)
    return Row(label=float(values[1]), text=values[2])

training = train_data.map(getLabelAndFeats).toDF()
training.printSchema()
print training.take(2)

root
 |-- label: double (nullable = true)
 |-- text: string (nullable = true)

[Row(label=0.0, text=u'3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S'), Row(label=1.0, text=u'1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,PC 17599,71.2833,C85,C')]